html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.down-content {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f7f7f7;
}